<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
#wrapper{
    width:1000px;
    height:800px;
    border:5px solid black;
    background: url("./images/hologram.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 800px;
    margin: auto;
    text-align: center;
    position: relative;
} 

#wrapper button{
    padding:10px;

}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #fb4264;
  font-size: 100px;
  line-height: 9px;
  text-shadow: 0 0 3vw #f40a35;
  position: absolute;
  left: 325px;
  top: 300px;
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 100px;
  line-height: 9px;
  text-shadow: 0 0 3vw #2356ff;
  position: absolute;
  left: 345px;
  top: 430px;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

a{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    padding: 25px 30px;
    margin: 650px -100px;
    color: #03f45f;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 5px;
    overflow: hidden;
    margin-right: 40px;
    border-radius: 50px;
   
}
a:hover{
    background: #03f45f;
    color: #050801;
    box-shadow: 0 0 5px #03f45f,
                0 0 25px #03f45f,
                0 0 50px #03f45f,
                0 0 200px #03f45f;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03f45f);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03f45f);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03f45f);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03f45f);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
</style>
<script>

function init(){
    document.querySelector("button").addEventListener("click",function(){
        //메인페이지로 링크
        //a태그를 자바스크립트로 표현한 것이 location.href
        location.href="./selectSong.ejs";
    });
}
window.addEventListener("load",function(){
    init();
    setInterval("blink()", 500);
});
</script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="neon">Rythm </div>
            <div class="flux">Game </div>
        </div>
        <a href="./selectSong.ejs">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Start
        </a>
    </div>
</body>
</html>